:root {
  font-size: $font-size-base;
}
html, body {
  background-color:$white;
  color: $black;
  font-family:$main-font;
  font-size: .875rem;
  height: 100%;
  margin: 0;
    h1{
    color: rgb(0, 0, 0);
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0 auto;
    padding-top: 15px;
    }
  }


.container{
  width:100%;
  max-width: 1140px;
  margin: auto;
}
/*hipervinculos*/
a{
  text-decoration: none;
}

/*botones*/
/* boton scroll*/
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color:#5f9674;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}
#myBtn:hover {
  background-color: darkred;
}
/* boton index*/
.btn-primary{
  border: none;
  
  
}
/*text botones*/
button a{
  border-style: solid , #F2ECD8;
  color: whitesmoke;
  font-size: small;
  font-weight: 600;
  text-decoration: none;
}

/*header*/
.header_global{
  display: flex;
  flex-direction: column;
  background-color:#F2EBE9;
  
  .header_nav{ 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;  
    ul{
      list-style-type: none;
      overflow: hidden;
      display: flex;
      text-decoration: none; 
      li{
        display: inline-block;
        padding: 8px;
        text-decoration: none;  
        font-size: 0.8rem;
        a{ 
          color: #000;
          font-weight: 600;
        a:hover{
          color: rgb(51, 71, 52);
        font-weight: 900;
        
        }
      }
      } 
    }
  }
}
.header_logo{
  color: #000;
  :hover{
    color: darkred;
  }
}
/*H1,H2,H3*/
h1{
  color: rgb(0, 0, 0);
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 auto;
  padding-top: 15px;
}
h2, h3, h4 {
  color: rgb(0, 0, 0);
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/*titulos*/
.top-title{
  align-items: center;
  font-size: 1rem;
}
.titulos{
    font-family:$main-font;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 40px;
    position:relative;

   &:before{
      content:"";
      position: absolute;
      bottom: -10px;
      left: 50%;
      transform: translateX(-50%);
      width: 40px;
      height: 1px;
      background-color: #000;
  }
}



/*footer*/
.footer_global{
  background-color:rgb(242, 235, 233) ;
    margin-top: 60px;
    padding-top: 1px;
    padding-bottom: 15px;
    .footer_social_icons{
      ul{
        display: flex;
        justify-content: center;
        list-style-type: none;
      li{
        i{
          
            font-size: 30px;
            padding: 10px 5px ;
            color: #000;
            text-decoration: none;
          }
        }
      }
    
    }
}


  p.copyright {
  text-align: center;
  color:  #000;
  }

  p.contacto{
  font-size: 0.5rem;
  text-align: right;
  }
