:root {
  font-size: $font-size-base;
}
html,
body {
  background-color: $white;
  color: $black;
  font-family: $main-font;
  font-size: 0.875rem;
  min-height: 100%;
  margin: 0;
  h1 {
    color: rgb(0, 0, 0);
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0 auto;
    padding-top: 15px;
  }
}

/*hipervinculos*/
a {
  text-decoration: none;
}

/*botones*/
/* boton scroll*/
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #5f9674;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}
#myBtn:hover {
  background-color: darkred;
}
/* boton index*/
.btn-primary {
  border: none;
}
/*text botones*/
button a {
  border-style: solid, #f2ecd8;
  color: whitesmoke;
  font-size: small;
  font-weight: 600;
  text-decoration: none;
}
/*header*/
.navbar {
  background-color: #f2ebe9;
  position: relative;
  .page-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
  }
  .nav-item {
    .nav-link {
      font-size: 0.8rem;
      font-family: $main-font;
      color: #000;
      font-weight: 600;
      &:hover {
        color: rgb(51, 71, 52);
        font-weight: 900;
      }
    }
  }
}

.logo_site {
  height: 7rem;
}

/*H1,H2,H3*/
h1 {
  color: rgb(0, 0, 0);
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 auto;
  padding-top: 15px;
}
h2,
h3,
h4 {
  color: rgb(0, 0, 0);
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/*titulos*/
.top-title {
  align-items: center;
  font-size: 1rem;
}
.titulos {
  font-family: $main-font;
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 40px;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 1px;
    background-color: #000;
  }
}
/*productos */
.section-bg {
  background-color: #d9d1b8;
}
/*footer*/
.footer_global {
  background-color: rgb(242, 235, 233);
  margin-top: 60px;
  padding-top: 30px;
  padding-bottom: 15px;
  .footer_social_icons {
    ul {
      display: flex;
      justify-content: center;
      list-style-type: none;
      li {
        a {
          text-decoration: none;
        }
        i {
          font-size: 30px;
          padding: 40px 5px;
          color: #000;
          text-decoration: none;
          $social: "icon-facebook-square", "icon-instagram", "icon-whatsapp";

          @each $social_icons in $social {
            &.#{$social_icons}:hover {
              @if $social_icons== "icon-facebook-square" {
                color: blue;
              }
              @if $social_icons== "icon-instagram" {
                color: purple;
              }
              @if $social_icons== "icon-whatsapp" {
                color: green;
              }
            }
          }
        }
      }
    }
  }
}
.contacto_redes {
  color: black;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 700;
}

p.copyright {
  text-align: center;
  color: #000;
}

p.contacto {
  font-size: 0.5rem;
  text-align: right;
}
