
.main-site{
   img{
   width: 100%;
  }
}

.booscard{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .card{
        margin: 50px 30px 40px 30px;
        text-align: center;
        .card-body{
            .btn-primary{
                background-color: #D9AF8B;
                border:none ;
            }
        }
    }
    @include breakpoint(xs){
      flex-direction: column;
    }
}
