
.main-site{
   img{
    min-height: 100vh;
    background-size: cover;
    margin-left: 3px;
    margin-right: 3px;
  }
  @include breakpoint(xs){
    .img{
    min-height: 50vh;
    margin: 0;
  }
  }
}

.booscard{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .card{
        margin: 50px 30px 40px 30px;
        text-align: center;
        .card-body{
            .btn-primary{
                background-color: #D9AF8B;
                border:none ;
            }
        }
    }
    @include breakpoint(xs){
      flex-direction: column;
    }
}
