
.main-site{
   img{
   width: 100%;
  }
  margin-bottom: 30px;
}

.card{
      justify-content: space-around;
        margin: 50px 30px 40px 30px;
        text-align: center;
        .card-body{
            .btn-primary{
                background-color: #D9AF8B;
                border:none ;
            }
        }
    

    @include breakpoint(sm){
      flex-direction: column;
    }
    @include breakpoint(xs){
      flex-direction: column;
    }
  }

