.main-taller {
    display: flex;
    background-color:#F2ECD8;
    img{
    width: 40%;
    }
   p {
    margin: 40px 80px;
    text-align: center;   
    }
}

.clases_seminarios{
    display: flex;
    flex-direction: row;
    .clase_card{
        justify-content: space-between;
        align-items: center;
        text-align: center;
        padding: 30px 20px;
        border-radius: 15px;
        border: 0.5px solid black;
        margin: 0 15px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        i{
            display: inline-block;
            transform: rotate(0);
            transition: ease-out 1s;
            color:#D9AF8B;
            font-size: 2rem;
             i:hover{
            transform: rotate(360deg);
            transition: ease-out 1s;
                }
            }
        
    p{
        text-decoration: none;
        }
    .btn-light{
        background-color:rgb(124, 89, 80);
        border:none;
        a{
            text-decoration: none;
            a:hover{
            color: darkred;
        }
        }
    }
}
}

.galeria-taller{
    display:flex;
    grid-template-rows: 250px 250px 250px 250px;
    grid-gap:10px;
    justify-content: space-around;
    align-items:center;
    background-color:#D7D9D9;

     img{
    width: 100%;
    max-width: 250px;
    height: 100%;
    max-height: 250px;  
    }
    img:hover{
    transform: scale(1.5);
    transition: ease-out 0.4s;
    z-index: 9;
    }
}