
.main-velas {
    display: flex;
    img {
        width: 80%;
        margin: 0 ;
        padding: 50px 30px 50px 30px;
    }
    p {
        margin: 0 70px 40px 70px;
        text-align: center;
        padding: 50px 10px 30px 10px;
    }
    @include breakpoint(sm) {
        img {
            align-items: center;
            margin: 0 10px 10px 20px;
            padding: 10px ;
        }
        p {
            margin: 10px 10px 20px 10px;
            padding: 0;
        }
    }
    @include breakpoint(xs) {
        img {
            align-items: center;
            margin: 0 10px 10px 20px;
            padding: 10px ;
        }
        p {
            margin: 10px 10px 20px 10px;
            padding: 0;
        }
    }
}
.candelcard {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .card {
        margin: 5px 8px;
        text-align: center;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        .card-text {
            font-size: 1rem;
            @include breakpoint(xs) {
                font-size: 0.7rem;
            }
         }
        }
        @include breakpoint(sm) {
            flex-direction: column;
            align-items: center;
           
        }
        @include breakpoint(xs) {
            flex-direction: column;
            align-items: center;
            
           
            
        }
    }
    

