
.main-velas{
    display:flex;
 img{
    width: 50%;
    } 
 p{
    margin: 0 80px;
    text-align: justify;
    }
}
.candelcard{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .card{
        margin: 30px 30px 30px 30px;
        text-align: center;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        .card-text {
            font-size: 1rem;
        }
    }
}
